schemas/money-s3/_Document.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="__Comtypes.xsd"/>
	<xs:include schemaLocation="__Faktura.xsd"/>
	<xs:include schemaLocation="__Firma.xsd"/>
	<xs:include schemaLocation="__IntDokl.xsd"/>
	<xs:include schemaLocation="__InvDokl.xsd"/>
	<xs:include schemaLocation="__Mzda.xsd"/>
	<xs:include schemaLocation="__Objedn.xsd"/>
	<xs:include schemaLocation="__Seznamy.xsd"/>
	<xs:include schemaLocation="__SklDokl.xsd"/>
	<xs:include schemaLocation="__UcDokl.xsd"/>
	<xs:include schemaLocation="__Uhrady.xsd"/>
	<xs:include schemaLocation="__Zakazka.xsd"/>
	<xs:include schemaLocation="__Zamestnanec.xsd"/>
	<xs:include schemaLocation="__Zasoba.xsd"/>
	<xs:element name="MoneyData">
		<xs:annotation>
			<xs:documentation>Kořenový element dokumentu</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="SeznamCinnosti" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam činností</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="Cinnost" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="cinnostType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamStredisek" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam středisek</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="Stredisko" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="strediskoType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamClenDPH" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam členění DPH</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="ClenDPH" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="clenDPHType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamUcOsnov" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam účtů účetní osnovy
(podvojné účetnictví)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="UcOsnova" type="ucOsnovaType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamUcPohybu" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam účetních pohybů
(daňová evidence)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="UcPohyb" type="ucPohybType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamZauctovaniDPH" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam zaúčtování DPH
(podvojné účetnictví)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ZauctovaniDPH" type="zauctovaniDPHType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamZauctovaniDPH_DE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam zaúčtování DPH
(daňová evidence)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ZauctovaniDPH_DE" type="zauctovaniDPH_DEType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamPredkontaci" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam předkontací
(podvojné účetnictví)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="Predkontace" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="predkontaceType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamPredkontaciDE" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam předkontací
(daňová evidence)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="PredkontaceDE" type="predkontaceDEType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamKurzListku" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam kurzovních lístků
(pouze pro interní potřebu)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="KurzListek" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="kurzListekType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamParametru" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam parametrů zásob</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Parametr" type="parametrType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Identifikace parametru</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamKategorii" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam kategorií (skupin) internetového obchodu</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="eKategorie" type="ekategorieType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Kategorie internetového obchodu</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamBankUctuPokladen" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam bankovních účtů a pokladen</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BankUcetPokladna" type="bankUcetPokladnaType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Bankovní účet nebo pokladna</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamTypuPriplatku" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam typů příplatků
(pouze pro interní potřebu - docházkové systémy)

Entita se samostatně neexportuje ani neimportuje</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TypPriplatku" type="typPriplatkuType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamCenHladin" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam cenových hladin

Entita se samostatně neexportuje ani neimportuje</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="CenovaHladina" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="cenovaHladinaType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamFirem" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam firem (adresář firem)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="Firma" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="firmaType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamKmKarta" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam kmenových karet</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="KmKarta" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="kmKartaType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamZasoba" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam zásob</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="Zasoba" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="zasobaType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamSkladu" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam skladů

Entita se samostatně neexportuje ani neimportuje</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="Sklad" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="skladType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamZamestnancu" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam původních zaměstnanců
(pouze pro interní potřebu - docházkové systémy)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="Zamestnanec" type="zamestnanecType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamNovychZamestnancu" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam nových zaměstnanců
(pouze pro interní potřebu - docházkové systémy)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="ZamestnanecNovy" type="zamestnanecNovyType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamZakazka" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam zakázek</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="Zakazka" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="zakazkaType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamFaktPrij" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam faktur přijatých</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="FaktPrij" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="fakturaType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamFaktVyd" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam faktur vydaných</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="FaktVyd" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="fakturaType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamIntDokl" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam interních dokladů</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="IntDokl" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="intDoklType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamPokDokl" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam pokladních dokladů</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="PokDokl" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="pokDoklType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamBankDokl" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam bankovních dokladů</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="BankDokl" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="banDoklType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamFaktPrij_DPP" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam faktur přijatých - daňové doklady k přijaté platbě</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FaktPrij_DPP" type="fakturaType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamFaktVyd_DPP" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam faktur vydaných - daňové doklady k přijaté platbě</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FaktVyd_DPP" type="fakturaType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamPohledavek" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam pohledávek</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Pohledavka" type="pohledavkaType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamZavazku" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam závazků</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Zavazek" type="zavazekType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamObjPrij" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam objednávek přijatých</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="ObjPrij" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="objednavkaType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamObjVyd" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam objednávek vydaných</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="ObjVyd" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="objednavkaType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamNabPrij" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam nabídek přijatých</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="NabPrij" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="objednavkaType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamNabVyd" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam nabídek vydaných</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="NabVyd" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="objednavkaType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamPoptPrij" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam poptávek přijatých</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="PoptPrij" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="objednavkaType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamPoptVyd" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam poptávek vydaných</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="PoptVyd" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="objednavkaType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamPrijemka" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam příjemek</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="Prijemka" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="sklDoklType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamVydejka" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam výdejek</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="Vydejka" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="sklDoklType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamDLPrij" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam dodacích listů přijatých</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="DLPrij" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="sklDoklType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamDLVyd" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam dodacích listů vydaných</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="DLVyd" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="sklDoklType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamProdejka" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam prodejek</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="Prodejka" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="sklDoklType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamPrevodka" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam převodek</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="Prevodka" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="sklDoklType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamVyrobka" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam výrobek</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="Vyrobka" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="sklDoklType"/>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamInvDokl" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam inventurních dokladů</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="InvDoklad" type="invDoklType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamMezd" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam původních mezd
(pouze pro interní potřebu - docházkové systémy)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="Mzda" type="mzdaType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SeznamNovychMezd" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Seznam nových mezd
(pouze pro interní potřebu - docházkové systémy)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="seznamType">
								<xs:sequence>
									<xs:element name="MzdaNova" type="mzdaNovaType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="messageID" type="xs:decimal" use="optional">
				<xs:annotation>
					<xs:documentation source="Číslo dávky">Číslo dávky</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ICAgendy" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation source="IČ agendy">IČ agendy</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="KodAgendy" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation source="Kód agendy">Kód agendy</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="HospRokOd" type="xs:date" use="optional">
				<xs:annotation>
					<xs:documentation source="Období hospodářského roku - datum do">Časový rozsah hospodářského roku agendy - datum od</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="HospRokDo" type="xs:date" use="optional">
				<xs:annotation>
					<xs:documentation source="Období hospodářského roku - datum do">Časový rozsah hospodářského roku agendy - datum do</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="description" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation source="XML export - popis definice">slovní popis definice XML exportu</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ExpZkratka" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation source="XML export - zkratka definice">zkratka definice XML exportu</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ExpDate" type="xs:date" use="optional">
				<xs:annotation>
					<xs:documentation source="XML export - datum exportu">Datum exportu</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ExpTime" type="xs:time" use="optional">
				<xs:annotation>
					<xs:documentation source="XML export - čas exportu">Čas exportu</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="VyberZaznamu" use="optional">
				<xs:annotation>
					<xs:appinfo source="XML export - způsob exportu">Způsob exportu (výběr záznamu):
0 = exportují se všechny záznamy
3 = dosud neexportované a změněné záznamy
4 = nové a změněné záznamy od data poslední dávky</xs:appinfo>
					<xs:documentation>Výběr záznamu při exportu:
0 = všechny
3 = dosud neexportované a změněné
4 = nové a změněné od data poslední dávky</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
						<xs:enumeration value="0"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="GUID" use="optional">
				<xs:annotation>
					<xs:appinfo source="XML export - způsob exportu">Způsob exportu (výběr záznamu):
0 = exportují se všechny záznamy
3 = dosud neexportované a změněné záznamy
4 = nové a změněné záznamy od data poslední dávky</xs:appinfo>
					<xs:documentation>GUID. Může být shodný při rozdělení exportu do více souborů viz atribut PocetCasti</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PocetCasti" type="celeCisloType" use="optional">
				<xs:annotation>
					<xs:documentation>Počet souborů, do kterých je rozdělen jeden export. Exportuje se pouze v případě, že dojde k rozdělení do více souborů. Aktuálně se používá pouze při exportu zásob v e-shop konektoru.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CisloCasti" type="celeCisloType" use="optional">
				<xs:annotation>
					<xs:documentation>Cislo části exportu viz atribut PocetCasti. Je shodné s "X" v řetězci  "CastX"  v názvu souboru. </xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="seznamType"/>
	<xs:simpleType name="actionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Append"/>
			<xs:enumeration value="Update"/>
			<xs:enumeration value="Delete"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
